[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "==0.28.0"
databases = "==0.7.0"
fastapi = "==0.100.1"
psycopg2-binary = "==2.9.6"
pydantic = "==2.1.1"
SQLAlchemy = ">=1.4.48"
uvicorn = "==0.23.2"

[scripts]
# requirements.txt identifies the package to install w/o deps, e.g. tensorflow
pip-install  = "pip install --no-deps -r requirements.txt"

[dev-packages]

[requires]
python_version = "3.10"
