[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpg = "==0.29.0"
databases = "==0.8.0"
fastapi = "==0.105.0"
psycopg2-binary = "==2.9.9"
pydantic = "==2.5.3"
SQLAlchemy = ">=1.4.48"
uvicorn = "==0.25.0"

[scripts]
# requirements.txt identifies the package to install w/o deps, e.g. tensorflow
pip-install  = "pip install --no-deps -r requirements.txt"

[dev-packages]

[requires]
python_version = "3.10"
