asyncpg==0.28.0
databases==0.7.0
fastapi==0.101.1
prometheus-client==0.17.1
prometheus-fastapi-instrumentator==6.1.0
psycopg2-binary==2.9.7
pydantic>=1.8.0,<2.0.0
SQLAlchemy>=1.4.42
uvicorn>=0.15.0,<0.16.0