
name: Terraform Service Provisioning

on:
  workflow_dispatch:
    inputs:
      terraform_version:
        description: terraform_version
        default: latest
        required: true

jobs:
  terraform:
    name: 'Provision GCP Services'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./deploy/terraform

    steps:
    - uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v2

    - name: Terraform fmt
      id: fmt
      run: terraform fmt -check
      continue-on-error: true
